<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.CrmOrderSyncLogMapper">


    <insert id="insert" parameterType="me.zhengjie.modules.opl.domain.CrmOrderSyncLog">
        INSERT INTO crmOrderSyncLog (crmOrderId,isSuccess,createdBy
        ,createdAt,failedReason,description)
        VALUES (#{crmOrderId},#{isSuccess},#{createdBy}
        ,#{createdAt},#{failedReason},#{description})
    </insert>


</mapper>
