<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.CrmProductMapper">

    <select id="findAll" resultType="me.zhengjie.modules.opl.domain.CrmProduct">
        SELECT *,crm_id as crmId FROM crm_product WHERE enable_status = 1
    </select>

</mapper>