<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.CrmWorkOrderMapper">


    <insert id="insert" parameterType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderCriteria" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO crm_work_order(topic,serial_no,plan_comp_time,hope_comp_time,created_person,job_number,created_at
        ,project_name,model,matter_date,sn_no,ultimate_customer,problem_type,problem_attach
        ,problem_desc,problem_path,site_condition,rescue_action,fae_header,work_order_type,service_catalog_id,order_status,order_type,close_score)
        VALUES(#{topic},#{serialNo},#{planCompTime},#{hopeCompTime},#{createdPerson},#{jobNumber},#{createDateTime},
        #{projectName},#{model},#{matterDate},#{snNo},#{ultimateCustomer}
        ,#{problemType},#{problemAttach},#{problemDesc},#{problemPath},#{siteCondition},#{rescueAction}
        ,#{faeHeader},#{workOrderType},#{catalogId},#{orderStatus},#{orderType},#{closeScore})
    </insert>

    <update id="update" parameterType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderCriteria">
        UPDATE crm_work_order set updated_by=#{modifyPerson},updated_at=#{modifyDateTime}
        <if test="topic!=null and topic!=''">
            ,topic=#{topic}
        </if>
        <if test="planCompTime!=null">
            ,plan_comp_time=#{planCompTime}
        </if>
        <if test="workOrderType!=null">
            ,work_order_type=#{workOrderType}
        </if>
        <if test="closeScore!=null">
            ,close_score=#{closeScore}
        </if>
        <if test="orderType!=null">
            ,order_type=#{orderType}
        </if>
        <if test="projectName!=null and projectName!=''">
            ,project_name=#{projectName}
        </if>
        <if test="faeHeader!=null and faeHeader!=''">
            ,fae_header=#{faeHeader}
        </if>
        <if test="ultimateCustomer!=null and ultimateCustomer!=''">
            ,ultimate_customer=#{ultimateCustomer}
        </if>
        <if test="rescueAction!=null and rescueAction!=''">
            ,rescue_action=#{rescueAction}
        </if>
        <if test="siteCondition!=null and siteCondition!=''">
            ,site_condition=#{siteCondition}
        </if>
        <if test="problemPath!=null and problemPath!=''">
            ,problem_path=#{problemPath}
        </if>
        <if test="problemAttach!=null and problemAttach!=''">
            ,problem_attach=#{problemAttach}
        </if>
        <if test="problemDesc!=null and problemDesc!=''">
            ,problem_desc=#{problemDesc}
        </if>
        <if test="problemType!=null">
            ,problem_type=#{problemType}
        </if>
        <if test="model!=null and model!=''">
            ,model=#{model}
        </if>
        <if test="snNo!=null and snNo!=''">
            ,sn_no=#{snNo}
        </if>
        <if test="matterDate!=null">
            ,matter_date=#{matterDate}
        </if>
        <if test="realOpTime!=null">
            ,real_op_time=#{realOpTime}
        </if>
        <if test="orderStatus!=null">
            ,order_status=#{orderStatus}
        </if>
        <if test="receiver!=null and receiver!=''">
           ,receiver=#{receiver}
        </if>
        <if test="measures!=null and measures!=''">
            ,measures=#{measures}
        </if>
        <if test="reason!=null and reason!=''">
            ,reason=#{reason}
        </if>
        <if test="completeType!=null">
            ,complete_type=#{completeType}
        </if>
        <if test="finishDateTime!=null">
            ,finish_date_time=#{finishDateTime}
        </if>
        <if test="finishUserId!=null and finishUserId!=''">
            ,finish_user_id=#{finishUserId}
        </if>
        <if test="closeDateTime!=null">
            ,close_date_time=#{closeDateTime}
        </if>
        <if test="closeUserId!=null and closeUserId!=''">
            ,close_user_id=#{closeUserId}
        </if>
        <if test="cancelDateTime!=null">
            ,cancel_date_time=#{cancelDateTime}
        </if>
        <if test="cancelUserId!=null and cancelUserId!=''">
            ,cancel_user_id=#{cancelUserId}
        </if>
        <if test="hopeCompTime!=null">
            ,hope_comp_time=#{hopeCompTime}
        </if>
        WHERE id = #{id}
    </update>


    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
        UPDATE crm_work_order set name=#{item.name},entity_type=#{item.entityType},owner_id=#{item.ownerId},dim_depart=#{item.dimDepart},
        workflow_stage_name=#{item.workflowStageName},applicant_id=#{item.applicantId},created_by=#{item.createdBy},created_at=#{item.createdAt},updated_by=#{item.updatedBy},
        updated_at=#{item.updatedAt},lock_status=#{item.lockStatus},approval_status=#{item.approvalStatus},topic=#{item.topic},serial_no=#{item.serialNo},plan_comp_time=#{item.planCompTime},
        created_person=#{item.createdPerson},job_number=#{item.jobNumber},project_name=#{item.projectName},model=#{item.model},matter_date=#{item.matterDate},sn_no=#{item.snNo},
        ultimate_customer=#{item.ultimateCustomer},problem_type=#{item.problemType},problem_attach=#{item.problemAttach},problem_desc=#{item.problemDesc},problem_path=#{item.problemPath},
        site_condition=#{item.siteCondition},rescue_action=#{item.rescueAction},fae_header=#{item.faeHeader},work_order_type=#{item.workOrderType}
         WHERE crm_id = #{item.crmId}
        </foreach>
    </update>

    <select id="findAll" parameterType="me.zhengjie.modules.opl.service.dto.WorkOrderCriteria" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        SELECT A.id,A.topic,A.serial_no,A.plan_comp_time,A.hope_comp_time,A.created_person,A.job_number,C.FDeptFullName AS deptName,A.project_name,D.product_name AS model,A.created_at as createdAt,A.matter_date,A.sn_no,A.real_op_time,A.finish_date_time,
        A.ultimate_customer,A.problem_type,A.problem_attach,A.problem_desc,A.problem_path,A.site_condition,A.rescue_action,A.fae_header,A.finish_user_id,A.finish_code,A.close_date_time,A.close_user_id,A.close_score,A.cancel_date_time,A.cancel_user_id,
        A.work_order_type,G.FHumanName AS receiverName,A.receiver,E.name as typeDesc,A.order_status,F.name as statusDesc,A.service_catalog_id,H.catalogName AS serviceCatalogDesc,A.order_type
        FROM crm_work_order A
        LEFT JOIN tsysuser B ON A.job_number=B.FUserName
        LEFT JOIN tsysdept C ON B.FDeptId=C.FSourceCode
        LEFT JOIN crm_product D ON A.model=D.crm_id
        LEFT JOIN trequestCategory E ON E.id=A.work_order_type
        LEFT JOIN orderStatus F ON F.id=A.order_status
        LEFT JOIN tsysuser G ON A.receiver=G.FUserName
        LEFT JOIN subServiceCatalog H ON A.service_catalog_id=H.catalogId
        where 1=1
        <if test="topic != null and topic != ''">
            AND A.topic LIKE CONCAT('%',#{topic},'%')
        </if>
        <if test="serialNo != null and serialNo != '' ">
            AND A.serial_no LIKE CONCAT('%',#{serialNo},'%')
        </if>
        <if test="orderStatusList != null and orderStatusList.size &gt; 0">
            AND A.order_status in
            <foreach collection="orderStatusList" item="orderStatus" open="(" separator="," close=")">
                #{orderStatus}
            </foreach>
        </if>
        <if test="model != null and model != '' ">
            AND A.model = #{model}
        </if>

        <if test="workOrderTypeList != null and workOrderTypeList.size &gt; 0">
            AND A.work_order_type in
            <foreach collection="workOrderTypeList" item="workOrderType" open="(" separator="," close=")">
                #{workOrderType}
            </foreach>
        </if>

        <if test="startTime != null ">
            AND A.created_at &gt;= #{startTime}
        </if>

        <if test="endTime != null  ">
            AND A.created_at &lt;= #{endTime}
        </if>
        ORDER BY A.created_at desc

    </select>

    <select id="findCreatedByMe" parameterType="me.zhengjie.modules.opl.service.dto.WorkOrderCriteria" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
    SELECT A.id,A.topic,A.serial_no,A.plan_comp_time,A.hope_comp_time,A.created_person,A.job_number,C.FDeptFullName AS deptName,A.project_name,D.product_name AS model,A.created_at as createdAt,A.matter_date,A.sn_no,A.real_op_time,A.finish_date_time,
    A.ultimate_customer,A.problem_type,A.problem_attach,A.problem_desc,A.problem_path,A.site_condition,A.rescue_action,A.fae_header,A.finish_user_id,A.finish_code,A.close_date_time,A.close_user_id,A.close_score,A.cancel_date_time,A.cancel_user_id,
    A.work_order_type,G.FHumanName AS receiverName,A.receiver,E.name as typeDesc,A.order_status,F.name as statusDesc,A.service_catalog_id,H.catalogName AS serviceCatalogDesc,A.order_type
    FROM crm_work_order A
    LEFT JOIN tsysuser B ON A.job_number=B.FUserName
    LEFT JOIN tsysdept C ON B.FDeptId=C.FSourceCode
    LEFT JOIN crm_product D ON A.model=D.crm_id
    LEFT JOIN trequestCategory E ON E.id=A.work_order_type
    LEFT JOIN orderStatus F ON F.id=A.order_status
    LEFT JOIN tsysuser G ON A.receiver=G.FUserName
    LEFT JOIN subServiceCatalog H ON A.service_catalog_id=H.catalogId
    where A.job_number= #{jobNumber}
    <if test="topic != null and topic != ''">
        AND A.topic LIKE CONCAT('%',#{topic},'%')
    </if>
    <if test="serialNo != null and serialNo != '' ">
        AND A.serial_no LIKE CONCAT('%',#{serialNo},'%')
    </if>
    <if test="orderStatusList != null and orderStatusList.size &gt; 0">
        AND A.order_status in
        <foreach collection="orderStatusList" item="orderStatus" open="(" separator="," close=")">
            #{orderStatus}
        </foreach>
    </if>

    <if test="model != null and model != '' ">
        AND A.model = #{model}
    </if>

    <if test="workOrderTypeList != null and workOrderTypeList.size &gt; 0">
        AND A.work_order_type in
        <foreach collection="workOrderTypeList" item="workOrderType" open="(" separator="," close=")">
            #{workOrderType}
        </foreach>
    </if>

    <if test="startTime != null ">
        AND A.created_at &gt;= #{startTime}
    </if>

    <if test="endTime != null  ">
        AND A.created_at &lt;= #{endTime}
    </if>
    ORDER BY A.created_at desc

</select>

    <select id="findServiceOrder" parameterType="me.zhengjie.modules.opl.service.dto.WorkOrderCriteria" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        SELECT A.id,A.topic,A.serial_no,A.plan_comp_time,A.hope_comp_time,A.created_person,A.job_number,C.FDeptFullName AS deptName,A.project_name,D.product_name AS model,A.created_at as createdAt,A.matter_date,A.sn_no,A.real_op_time,A.finish_date_time,
        A.ultimate_customer,A.problem_type,A.problem_attach,A.problem_desc,A.problem_path,A.site_condition,A.rescue_action,A.fae_header,A.finish_user_id,A.finish_code,A.close_date_time,A.close_user_id,A.close_score,A.cancel_date_time,A.cancel_user_id,
        A.work_order_type,G.FHumanName AS receiverName,A.receiver,E.name as typeDesc,A.order_status,F.name as statusDesc,A.service_catalog_id,H.catalogName AS serviceCatalogDesc,A.order_type
        FROM crm_work_order A
        LEFT JOIN tsysuser B ON A.job_number=B.FUserName
        LEFT JOIN tsysdept C ON B.FDeptId=C.FSourceCode
        LEFT JOIN crm_product D ON A.model=D.crm_id
        LEFT JOIN trequestCategory E ON E.id=A.work_order_type
        LEFT JOIN orderStatus F ON F.id=A.order_status
        LEFT JOIN tsysuser G ON A.receiver=G.FUserName
        LEFT JOIN subServiceCatalog H ON A.service_catalog_id=H.catalogId
        where 1=1
        <if test="topic != null and topic != ''">
            AND A.topic LIKE CONCAT('%',#{topic},'%')
        </if>
        <if test="serialNo != null and serialNo != '' ">
            AND A.serial_no LIKE CONCAT('%',#{serialNo},'%')
        </if>
        <if test="orderStatusList != null and orderStatusList.size &gt; 0">
            AND A.order_status in
            <foreach collection="orderStatusList" item="orderStatus" open="(" separator="," close=")">
                #{orderStatus}
            </foreach>
        </if>

        <if test="model != null and model != '' ">
            AND A.model = #{model}
        </if>
        <if test="workOrderTypeList != null and workOrderTypeList.size &gt; 0">
            AND A.work_order_type in
            <foreach collection="workOrderTypeList" item="workOrderType" open="(" separator="," close=")">
                #{workOrderType}
            </foreach>
        </if>
        <if test="subCatalogList != null and subCatalogList.size &gt; 0 ">
            AND A.service_catalog_id in
            <foreach collection="subCatalogList" item="subCatalog" open="(" separator="," close=")">
                #{subCatalog}
            </foreach>
        </if>

        <if test="startTime != null ">
            AND A.created_at &gt;= #{startTime}
        </if>

        <if test="endTime != null  ">
            AND A.created_at &lt;= #{endTime}
        </if>
        ORDER BY A.created_at desc

    </select>

    <select id="findTreatByMe" parameterType="me.zhengjie.modules.opl.service.dto.WorkOrderCriteria" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        SELECT A.id,A.topic,A.serial_no,A.plan_comp_time,A.hope_comp_time,A.created_person,A.job_number,C.FDeptFullName AS deptName,A.project_name,D.product_name AS model,A.created_at as createdAt,A.matter_date,A.sn_no,A.real_op_time,A.finish_date_time,
        A.ultimate_customer,A.problem_type,A.problem_attach,A.problem_desc,A.problem_path,A.site_condition,A.rescue_action,A.fae_header,A.finish_user_id,A.finish_code,A.close_date_time,A.close_user_id,A.close_score,A.cancel_date_time,A.cancel_user_id,
        A.work_order_type,I.FHumanName AS receiverName,A.receiver,E.name as typeDesc,A.order_status,F.name as statusDesc,A.service_catalog_id,H.catalogName AS serviceCatalogDesc,A.order_type
        FROM crm_work_order A
        LEFT JOIN tsysuser B ON A.job_number=B.FUserName
        LEFT JOIN tsysdept C ON B.FDeptId=C.FSourceCode
        LEFT JOIN crm_product D ON A.model=D.crm_id
        LEFT JOIN trequestCategory E ON E.id=A.work_order_type
        LEFT JOIN orderStatus F ON F.id=A.order_status
        LEFT JOIN tsysuser I ON A.receiver=I.FUserName
        LEFT JOIN subServiceCatalog H ON A.service_catalog_id=H.catalogId
        where A.receiver= #{jobNumber}
        <if test="topic != null and topic != ''">
            AND A.topic LIKE CONCAT('%',#{topic},'%')
        </if>
        <if test="serialNo != null and serialNo != '' ">
            AND A.serial_no LIKE CONCAT('%',#{serialNo},'%')
        </if>
        <if test="orderStatusList != null and orderStatusList.size &gt; 0">
            AND A.order_status in
            <foreach collection="orderStatusList" item="orderStatus" open="(" separator="," close=")">
                #{orderStatus}
            </foreach>
        </if>

        <if test="model != null and model != '' ">
            AND A.model = #{model}
        </if>

        <if test="workOrderTypeList != null and workOrderTypeList.size &gt; 0">
            AND A.work_order_type in
            <foreach collection="workOrderTypeList" item="workOrderType" open="(" separator="," close=")">
                #{workOrderType}
            </foreach>
        </if>

        <if test="startTime != null ">
            AND A.created_at &gt;= #{startTime}
        </if>

        <if test="endTime != null  ">
            AND A.created_at &lt;= #{endTime}
        </if>
        UNION
        SELECT A.id,A.topic,A.serial_no,A.plan_comp_time,A.hope_comp_time,A.created_person,A.job_number,C.FDeptFullName AS deptName,A.project_name,D.product_name AS model,A.created_at as createdAt,A.matter_date,A.sn_no,A.real_op_time,A.finish_date_time,
        A.ultimate_customer,A.problem_type,A.problem_attach,A.problem_desc,A.problem_path,A.site_condition,A.rescue_action,A.fae_header,A.finish_user_id,A.finish_code,A.close_date_time,A.close_user_id,A.close_score,A.cancel_date_time,A.cancel_user_id,
        A.work_order_type,I.FHumanName AS receiverName,A.receiver,E.name as typeDesc,A.order_status,F.name as statusDesc,A.service_catalog_id,H.catalogName AS serviceCatalogDesc,A.order_type
        FROM crm_work_order A
        LEFT JOIN tsysuser B ON A.job_number=B.FUserName
        LEFT JOIN tsysdept C ON B.FDeptId=C.FSourceCode
        LEFT JOIN crm_product D ON A.model=D.crm_id
        LEFT JOIN trequestCategory E ON E.id=A.work_order_type
        LEFT JOIN orderStatus F ON F.id=A.order_status
        LEFT JOIN subOrder G ON G.parentNo=A.id
        LEFT JOIN tsysuser I ON A.receiver=I.FUserName
        LEFT JOIN subServiceCatalog H ON A.service_catalog_id=H.catalogId
        where G.receiver= #{jobNumber}
        <if test="topic != null and topic != ''">
            AND A.topic LIKE CONCAT('%',#{topic},'%')
        </if>
        <if test="serialNo != null and serialNo != '' ">
            AND A.serial_no LIKE CONCAT('%',#{serialNo},'%')
        </if>
        <if test="orderStatusList != null and orderStatusList.size &gt; 0">
            AND A.order_status in
            <foreach collection="orderStatusList" item="orderStatus" open="(" separator="," close=")">
                #{orderStatus}
            </foreach>
        </if>

        <if test="model != null and model != '' ">
            AND A.model = #{model}
        </if>

        <if test="workOrderTypeList != null and workOrderTypeList.size &gt; 0">
            AND A.work_order_type in
            <foreach collection="workOrderTypeList" item="workOrderType" open="(" separator="," close=")">
                #{workOrderType}
            </foreach>
        </if>

        <if test="startTime != null ">
            AND A.created_at &gt;= #{startTime}
        </if>

        <if test="endTime != null  ">
            AND A.created_at &lt;= #{endTime}
        </if>

        ORDER BY createdAt desc

    </select>

    <select id="findOplByMaxId" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE id =(SELECT max(id) FROM crm_work_order WHERE serial_no LIKE '%opl%')
    </select>

    <select id="findCrmOrderByMaxId" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE id =(SELECT max(id) FROM crm_work_order WHERE serial_no LIKE '%crm%')
    </select>

    <select id="findCrmOrderById" parameterType="Integer" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE id = #{id}
    </select>

    <select id="findCrmOrderByOrderType" parameterType="Integer" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE work_order_type = #{type}
    </select>

    <select id="findOrderBySerialNo" parameterType="String" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        SELECT A.id,A.topic,A.serial_no,A.plan_comp_time,A.hope_comp_time,A.created_person,A.job_number,C.FDeptFullName AS deptName,A.project_name,D.product_name AS model,A.created_at as createdAt,A.matter_date,A.sn_no,A.real_op_time,A.finish_date_time,
        A.ultimate_customer,A.problem_type,A.problem_attach,A.problem_desc,A.problem_path,A.site_condition,A.rescue_action,A.fae_header,A.finish_user_id,A.finish_code,A.close_date_time,A.close_user_id,A.close_score,A.cancel_date_time,A.cancel_user_id,
        A.work_order_type,I.FHumanName AS receiverName,A.receiver,E.name as typeDesc,A.order_status,F.name as statusDesc,A.service_catalog_id,G.catalogName AS serviceCatalogDesc,H.name AS finishCodeDesc,A.order_type
        FROM crm_work_order A
        LEFT JOIN tsysuser B ON A.job_number=B.FUserName
        LEFT JOIN tsysdept C ON B.FDeptId=C.FSourceCode
        LEFT JOIN crm_product D ON A.model=D.crm_id
        LEFT JOIN trequestCategory E ON E.id=A.work_order_type
        LEFT JOIN orderStatus F ON F.id=A.order_status
        LEFT JOIN subServiceCatalog G ON G.catalogId=A.service_catalog_id
        LEFT JOIN requestClosureCode H ON H.id=A.finish_code
        LEFT JOIN tsysuser I ON A.receiver=I.FUserName
        WHERE A.serial_no = #{serialNo}
    </select>

    <select id="findOrderById" parameterType="Integer" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        SELECT A.id,A.topic,A.serial_no,A.plan_comp_time,A.hope_comp_time,A.created_person,A.job_number,C.FDeptFullName AS deptName,A.project_name,D.product_name AS model,A.created_at as createdAt,A.matter_date,A.sn_no,A.real_op_time,A.finish_date_time,
        A.ultimate_customer,A.problem_type,A.problem_attach,A.problem_desc,A.problem_path,A.site_condition,A.rescue_action,A.fae_header,A.finish_user_id,A.finish_code,A.close_date_time,A.close_user_id,A.close_score,A.cancel_date_time,A.cancel_user_id,
        A.work_order_type,I.FHumanName AS receiverName,A.receiver,E.name as typeDesc,A.order_status,F.name as statusDesc,A.service_catalog_id,G.catalogName AS serviceCatalogDesc,H.name AS finishCodeDesc,A.order_type
        FROM crm_work_order A
        LEFT JOIN tsysuser B ON A.job_number=B.FUserName
        LEFT JOIN tsysdept C ON B.FDeptId=C.FSourceCode
        LEFT JOIN crm_product D ON A.model=D.crm_id
        LEFT JOIN trequestCategory E ON E.id=A.work_order_type
        LEFT JOIN orderStatus F ON F.id=A.order_status
        LEFT JOIN subServiceCatalog G ON G.catalogId=A.service_catalog_id
        LEFT JOIN requestClosureCode H ON H.id=A.finish_code
        LEFT JOIN tsysuser I ON A.receiver=I.FUserName
        WHERE A.id = #{id}
    </select>


    <select id="findAllOrder" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderCriteria">
        SELECT * FROM crm_work_order
    </select>

    <!-- 通过服务分类条目获取人员数据 -->
    <select id="findUserByCatalogId" resultType="me.zhengjie.modules.system.domain.User">
        SELECT user_id as id,FEmail as email,FUserName username,FHumanName nickName,FEnName,FSourceNo,FPassword,FOrgId,
         FDeptId,FMobileNumber phone,create_time,create_by,update_time,update_by,FSex,FFlag,
         avatar_name,avatar_path,is_admin,pwd_reset_time
         FROM tsysuser WHERE user_id IN(
        SELECT sourceId FROM queuesToDept WHERE queuesId IN
        (SELECT defaultQueueId FROM subServiceCatalog WHERE catalogId = #{catalogId}) )
    </select>

</mapper>
