<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.CrmWorkOrderMapper">
    <resultMap id="OrderMap" type="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        <result property="topic" column="topic"></result>
        <result property="serialNo" column="serial_no"></result>
        <result property="planCompTime" column="plan_comp_time"></result>
        <result property="createdPerson" column="created_person"></result>
        <result property="jobNumber" column="job_number"></result>
        <result property="createAt" column="created_at"></result>
        <result property="deptName" column="deptName"></result>
        <result property="projectName" column="project_name"></result>
        <result property="model" column="model"></result>
        <result property="matterDate" column="matter_date"></result>
        <result property="snNo" column="sn_no"></result>
        <result property="ultimateCustomer" column="ultimate_customer"></result>
        <result property="problemType" column="problem_type"></result>
        <result property="problemAttach" column="problem_attach"></result>
        <result property="problemDesc" column="problem_desc"></result>
        <result property="problemPath" column="problem_path"></result>
        <result property="siteCondition" column="site_condition"></result>
        <result property="rescueAction" column="rescue_action"></result>
        <result property="faeHeader" column="fae_header"></result>
        <result property="workOrderType" column="work_order_type"></result>
        <result property="TypeDesc" column="TypeDesc"></result>
        <result property="orderStatus" column="orderStatus"></result>
    </resultMap>

    <insert id="insert" parameterType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderCriteria">
        INSERT INTO crm_work_order(topic,serial_no,plan_comp_time,created_person,job_number,created_at
        ,project_name,model,matter_date,sn_no,ultimate_customer,problem_type,problem_attach
        ,problem_desc,problem_path,site_condition,rescue_action,fae_header,work_order_type)
        VALUES(#{topic},#{serialNo},#{planCompTime},#{createdPerson},#{jobNumber},#{createAt},
        #{projectName},#{model},#{matterDate},#{snNo},#{ultimateCustomer}
        ,#{problemType},#{problemAttach},#{problemDesc},#{problemPath},#{siteCondition},#{rescueAction}
        ,#{faeHeader},#{workOrderType})
    </insert>

    <update id="update" parameterType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        UPDATE crm_work_order set name=#{name},entity_type=#{entityType},owner_id=#{ownerId},dim_depart=#{dimDepart},
        workflow_stage_name=#{workflowStageName},applicant_id=#{applicantId},created_by=#{createdBy},
        created_at=#{createdAt},updated_by=#{updatedBy},updated_at=#{updatedAt},lock_status=#{lockStatus},
        approval_status=#{approvalStatus},topic=#{topic},serial_no=#{serialNo},plan_comp_time=#{planCompTime},
        created_person=#{createdPerson},job_number=#{jobNumber},project_name=#{projectName},model=#{model},
        matter_date=#{matterDate},sn_no=#{snNo},ultimate_customer=#{ultimateCustomer},problem_type=#{problemType},
        problem_attach=#{problemAttach},problem_desc=#{problemDesc},problem_path=#{problemPath},
        site_condition=#{siteCondition},rescue_action=#{rescueAction},fae_header=#{faeHeader},work_order_type=#{workOrderType}
        <if test="orderStatus!=null">
            ,order_status=#{orderStatus}
        </if>
        <if test="measures!=null and measures!=''">
            ,measures=#{measures}
        </if>
        <if test="completeType!=null">
            ,complete_type=#{completeType}
        </if>
        <if test="reason!=null and reason!=''">
            ,reason=#{reason}
        </if>
        <if test="completeAttach!=null and completeAttach!=''">
            ,complete_attach=#{completeAttach}
        </if>
       <if test="department!=null and department!=''">
           ,department=#{department}
       </if>
       <if test="status!=null">
           ,status=#{status}
       </if>
       <if test="receiver!=null and receiver!=''">
           ,receiver=#{receiver}
       </if>
       <if test="serviceCatalogToQueueId!=null">
           ,service_catalog_to_queue_id=#{serviceCatalogToQueueId}
       </if>
       <if test="serviceCatalogId!=null">
           ,service_catalog_id=#{serviceCatalogId}
       </if>
       <if test="realOpTime!=null">
           ,real_op_time=#{realOpTime}
       </if>
       <if test="finishDateTime!=null">
           ,finish_date_time=#{finishDateTime}
       </if>
       <if test="finishUserId!=null">
           ,finish_user_id=#{finishUserId}
       </if>
       <if test="finishCode!=null">
           ,finish_code=#{finishCode}
       </if>
       <if test="closeDateTime!=null">
           ,close_date_time=#{closeDateTime}
       </if>
       <if test="closeUserId!=null">
           ,close_user_id=#{closeUserId}
       </if>
       <if test="closeScore!=null">
           ,close_score=#{closeScore}
       </if>
       <if test="cancelDateTime!=null">
           ,cancel_date_time=#{cancelDateTime}
       </if>
       <if test="cancelUserId!=null">
           ,cancel_user_id=#{cancelUserId}
       </if>
        WHERE crm_id = #{crmId}
    </update>


    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO crm_work_order(name,entity_type,owner_id,dim_depart,workflow_stage_name
        ,applicant_id,created_by,created_at,updated_by,updated_at,lock_status,approval_status
        ,topic,serial_no,plan_comp_time,created_person,job_number,project_name,model,matter_date
        ,sn_no,ultimate_customer,problem_type,problem_attach,problem_desc,problem_path,site_condition
        ,rescue_action,fae_header,work_order_type,is_crm,crm_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.name},#{item.entityType},#{item.ownerId},#{item.dimDepart},#{item.workflowStageName},
            #{item.applicantId},#{item.createdBy},#{item.createdAt,jdbcType=TIMESTAMP},#{item.updatedBy},
            #{item.updatedAt,jdbcType=TIMESTAMP},#{item.lockStatus},#{item.approvalStatus},#{item.topic},
            #{item.serialNo},#{item.planCompTime,jdbcType=TIMESTAMP},#{item.createdPerson},#{item.jobNumber},
            #{item.projectName},#{item.model},#{item.matterDate,jdbcType=TIMESTAMP},
            #{item.snNo},#{item.ultimateCustomer},#{item.problemType},#{item.problemAttach},#{item.problemDesc},
            #{item.problemPath},#{item.siteCondition},#{item.rescueAction},#{item.faeHeader},#{item.workOrderType},
            #{item.isCrm},#{item.crmId})
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
        UPDATE crm_work_order set name=#{item.name},entity_type=#{item.entityType},owner_id=#{item.ownerId},dim_depart=#{item.dimDepart},
        workflow_stage_name=#{item.workflowStageName},applicant_id=#{item.applicantId},created_by=#{item.createdBy},created_at=#{item.createdAt},updated_by=#{item.updatedBy},
        updated_at=#{item.updatedAt},lock_status=#{item.lockStatus},approval_status=#{item.approvalStatus},topic=#{item.topic},serial_no=#{item.serialNo},plan_comp_time=#{item.planCompTime},
        created_person=#{item.createdPerson},job_number=#{item.jobNumber},project_name=#{item.projectName},model=#{item.model},matter_date=#{item.matterDate},sn_no=#{item.snNo},
        ultimate_customer=#{item.ultimateCustomer},problem_type=#{item.problemType},problem_attach=#{item.problemAttach},problem_desc=#{item.problemDesc},problem_path=#{item.problemPath},
        site_condition=#{item.siteCondition},rescue_action=#{item.rescueAction},fae_header=#{item.faeHeader},work_order_type=#{item.workOrderType}
         WHERE crm_id = #{item.crmId}
        </foreach>
    </update>

    <select id="findAll" parameterType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderCriteria" resultMap="OrderMap">
        SELECT A.topic,A.serial_no,A.plan_comp_time,A.created_person,C.FDeptFullName AS deptName,A.project_name,A.model,A.matter_date,A.sn_no,
        A.ultimate_customer,A.problem_type,A.problem_attach,A.problem_desc,A.problem_path,A.site_condition,A.rescue_action,A.fae_header,A.work_order_type
        FROM crm_work_order A
        LEFT JOIN tsysuser B ON A.job_number=B.FUserName
        LEFT JOIN tsysdept C ON B.FDeptId=C.FSourceCode
        where 1=1
        <if test="topic != null and topic != ''">
            AND A.topic LIKE CONCAT('%',#{topic},'%')
        </if>
        <if test="serialNo != null and serialNo != '' ">
            AND A.serial_no LIKE CONCAT('%',#{serialNo},'%')
        </if>
        <if test="orderStatus != null ">
            AND A.orderStatus = #{orderStatus}
        </if>

<!--        <if test="startTime != null ">-->
<!--            AND A.created_at &gt;= #{startTime}-->
<!--        </if>-->

<!--        <if test="endTime != null  ">-->
<!--            AND A.created_at &lt;= #{endTime}-->
<!--        </if>-->
        ORDER BY A.created_at desc

    </select>

    <select id="findOplByMaxId" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE id =(SELECT max(id) FROM crm_work_order WHERE serial_no LIKE '%opl%')
    </select>

    <select id="findCrmOrderByMaxId" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE id =(SELECT max(id) FROM crm_work_order WHERE serial_no LIKE '%crm%')
    </select>

    <select id="findCrmOrderById" parameterType="Integer" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE id = #{id}
    </select>

    <select id="findCrmOrderByOrderType" parameterType="Integer" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE work_order_type = #{type}
    </select>

    <select id="findOrderBySerialNo" parameterType="String" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order WHERE serial_no = #{serialNo}
    </select>

    <select id="findAllOrder" resultType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        SELECT * FROM crm_work_order
    </select>

</mapper>
