<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.DeptForShowMapper">

    <resultMap id="deptMap" type="me.zhengjie.modules.opl.domain.DeptForShow">
        <id property="deptId" column="FDeptId"></id>
        <result property="parentId" column="FParentId"></result>
        <result property="orgId" column="FOrgId"></result>
        <result property="deptFullName" column="FDeptFullName"></result>
        <result property="deptName" column="FDeptName"></result>
        <result property="deptCode" column="FDeptCode"></result>
        <result property="sourceCode" column="FSourceCode"></result>
        <result property="sort" column="FSort"></result>
        <result property="description" column="FDescription"></result>
        <result property="flag" column="FFlag"></result>
        <result property="createUserId" column="FCreateUserId"></result>
        <result property="createDateTime" column="FCreateDateTime"></result>
        <result property="modifyUserId" column="FModifyUserId"></result>
        <result property="modifyDateTime" column="FModifyDateTime"></result>
    </resultMap>

    <select id="findDeptByOrgId" resultMap="deptMap">
        SELECT * FROM tsysdept WHERE FOrgId = #{orgId} AND FFlag = 1
    </select>


    <select id="findDeptByParentId" resultMap="deptMap">
        SELECT * FROM tsysdept WHERE FParentId = #{parentId} AND FFlag = 1
    </select>

    <select id="findDeptByGradeOrg" resultMap="deptMap">
        SELECT * FROM tsysdept WHERE FParentId = '7dc16e86-172c-4f96-bd16-9a0fd82d6262' AND FFlag = 1
    </select>

    <!-- 获取不在支持组下的部门数据 -->
    <select id="findDeptVoNotInCatalogId" resultType="me.zhengjie.modules.opl.service.dto.DeptVo">
        SELECT t1.FDeptId as deptId,t1.FDeptFullName as deptFullName,t1.FDeptName as deptName FROM tsysdept t1
        WHERE t1.FFlag=1 and not EXISTS(
        SELECT t2.* FROM serviceCatalogRelateDept t2
        WHERE t2.catalogId = #{catalogId} and t1.FDeptId = t2.deptId
        ) and not EXISTS (
        SELECT t3.FParentId FROM tsysdept t3
        WHERE t3.FParentId = t1.FSourceCode
        )
        <if test="deptVo.deptFullName!=null and deptVo.deptFullName!=''">
          and  t1.FDeptFullName like concat('%',#{deptVo.deptFullName},'%')
        </if>
        <if test="deptVo.deptName!=null and deptVo.deptName!=''">
           and t1.FDeptName like concat('%',#{deptVo.deptName},'%')
        </if>
        ORDER BY t1.FDeptId desc
    </select>

    <!-- 获取不在支持组下的大部门数据 （关联大部门）-->
    <select id="findDeptVoNotInCatalogId2" resultType="me.zhengjie.modules.opl.service.dto.DeptVo">
        SELECT t1.FDeptId as deptId,t1.FDeptFullName as deptFullName,t1.FDeptName as deptName FROM tsysdept t1
        WHERE t1.FFlag=1 and t1.FHrDeptLevel=3 and not EXISTS(
        SELECT t2.* FROM serviceCatalogRelateDept t2
        WHERE t2.catalogId = 1 and  t1.FDeptId = t2.deptId
        ) and  EXISTS (
        SELECT t3.FParentId FROM tsysdept t3
        WHERE t3.FParentId = t1.FSourceCode
        )
        <if test="deptVo.deptFullName!=null and deptVo.deptFullName!=''">
            and  t1.FDeptFullName like concat('%',#{deptVo.deptFullName},'%')
        </if>
        <if test="deptVo.deptName!=null and deptVo.deptName!=''">
            and t1.FDeptName like concat('%',#{deptVo.deptName},'%')
        </if>
        ORDER BY t1.FDeptId desc
    </select>

    <!-- 获取服务id下在此服务组的部门信息 -->
    <select id="findDeptVoInCatalogId" resultType="me.zhengjie.modules.opl.service.dto.DeptVo">
        SELECT t1.FDeptId as deptId,t1.FDeptFullName as deptFullName,t1.FDeptName as deptName FROM tsysdept t1
        WHERE t1.FFlag=1 and EXISTS(
        SELECT t2.* FROM serviceCatalogRelateDept t2
        WHERE t2.catalogId = #{catalogId}  and t1.FDeptId = t2.deptId
        )
    </select>


</mapper>