<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.FindUserNameMapper">

    <select id="findByUserName" resultType="java.lang.Integer">
        select count(*) from sys_user where username=#{userName}
    </select>
    <select id="findPasswordByUsername" resultType="java.lang.String">
        select sys_user.password from sys_user where username=#{userName}
    </select>
    <update id="updatePasswordByName">
      update sys_user set password=#{password} where username=#{username}
    </update>

</mapper>