<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.OrderSessionDetailMapper">

    <insert id="insertSessionDetail" parameterType="me.zhengjie.modules.opl.domain.OrderSessionDetail">
        INSERT INTO orderSessionDetail(sessionId,transId,propName,oldValue,newValue,createUserId,createDateTime,originalType)
        VALUES(#{sessionId},#{transId},#{propName},#{oldValue},#{newValue},#{createUserId},#{createDateTime},#{originalType})
    </insert>

    <select id="findSessionDetailById" parameterType="me.zhengjie.modules.opl.service.dto.SessionDetailCriteria" resultType="me.zhengjie.modules.opl.service.dto.OrderSessionDetailDto">
        SELECT A.detailId,A.sessionId,C.serial_no as transOrderId,A.transId,A.propName,A.oldValue ,A.newValue,A.createUserId,B.FHumanName as createPerson ,A.createDateTime
        FROM orderSessionDetail A
        LEFT JOIN tsysuser B ON A.createUserId=B.FUserName
        LEFT JOIN crm_work_order C ON A.transId=C.id
        WHERE A.transId= #{transId} AND A.sessionId= #{sessionId}

        ORDER BY A.createDateTime ASC

    </select>
</mapper>
