<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.OrderApplyCcMapper">

    <!--新增-->
    <insert id="insert" parameterType="me.zhengjie.modules.opl.domain.OrderApplyCc">
        INSERT INTO orderApplyCc(transId,empId,ccType,createDateTime,createUserId,originalType)
        VALUES (#{transId},#{empId},#{ccType},#{createDateTime},#{createUserId},#{originalType})
    </insert>

    <!--批量插入-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
         INSERT INTO orderApplyCc(transId,empId,ccType,createDateTime,createUserId,originalType)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
         (#{item.transId},#{item.empId},#{item.ccType},#{item.createDateTime},#{item.createUserId},#{item.originalType})
        </foreach>
    </insert>

    <!--修改-->
    <update id="update" parameterType="me.zhengjie.modules.opl.domain.OrderApplyCc">
        UPDATE orderApplyCc SET transId=#{transId},empId=#{empId},ccType=#{ccType},
        modifyDateTime=#{modifyDateTime},modifyUserId=#{modifyUserId},originalType=#{originalType}
        WHERE id = #{id}
    </update>

    <!--删除-->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM orderApplyCc WHERE id =#{id}
    </delete>

    <!--根据transId删除-->
    <delete id="deleteByTransId" parameterType="java.lang.Integer">
        DELETE FROM orderApplyCc WHERE transId = #{transId}
    </delete>

    <!--根据有抄送的工单id查询-->
    <select id="findCcByTransId" resultType="me.zhengjie.modules.opl.service.dto.OrderApplyCcDto">
        SELECT t1.*,t2.FHumanName as humanName,t2.FUserName as userName,t2.FEmail as email FROM orderApplyCc t1
         LEFT JOIN tsysuser t2 ON t1.empId = t2.FUserName
         LEFT JOIN crm_work_order t3 ON t1.transId = t3.id
        WHERE t1.transId = #{transId} and t1.originalType = 0
    </select>

    <!--根据有抄送的人员id查询 sys_user -->
    <select id="findCcByEmpId" resultType="me.zhengjie.modules.opl.service.dto.OrderApplyCcDto">
        SELECT t1.*,t2.FHumanName as humanName,t2.FUserName as userName,t2.FEmail as email FROM orderApplyCc t1
         LEFT JOIN tsysuser t2 ON t1.empId = t2.user_id
         LEFT JOIN crm_work_order t3 ON t1.transId = t3.id
         WHERE t1.empId = #{empId}
    </select>

    <!-- 主表数据 -->
    <select id="findMasterOrderCcByEmpId" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        SELECT t1.*,t3.name as status_desc,(case WHEN t1.work_order_type = 1 THEN '质量' else '需求' end) as type_desc  FROM crm_work_order t1
        LEFT JOIN orderStatus t3 on t1.order_status = t3.id
        WHERE exists( SELECT t2.* FROM orderApplyCc t2 WHERE t2.transId=t1.id
         AND originalType=0 AND t2.empId=#{empId})
    </select>

    <!-- 附表数据 -->
    <select id="findSubOrderCcByEmpId" resultType="me.zhengjie.modules.opl.service.dto.SubOrderDto">
        SELECT t1.*,t3.name as status_desc FROM subOrder t1
         LEFT JOIN orderStatus t3 on t1.orderStatus = t3.id
        WHERE exists( SELECT t2.* FROM orderApplyCc t2 WHERE t2.transId=t1.id
         AND originalType=1 AND t2.empId=#{empId})
    </select>

    <!-- 主表数据2 -->
    <select id="findMasterOrderCcByEmpId2" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        SELECT t1.*,,t3.name as status_desc,(case WHEN t1.work_order_type = 1 THEN '质量' else '需求' end) as type_desc FROM crm_work_order t1
        LEFT JOIN orderStatus t3 on t1.order_status = t3.id
        WHERE exists( SELECT t2.* FROM orderApplyCc t2 WHERE t2.transId=t1.id
        AND originalType=0 AND t2.empId=#{empId})
        <if test="criteria.topic!=null and criteria.topic !=''">
            AND t1.topic LIKE concat('%',#{criteria.topic},'%')
        </if>

        <if test="criteria.serialNo!=null and criteria.serialNo!=''">
            AND t1.serial_no LIKE concat('%',#{criteria.serialNo},'%')
        </if>

       <if test="criteria.orderStatusList!=null and criteria.orderStatusList.size &gt; 0">
            AND t1.order_status in
            <foreach collection="criteria.orderStatusList" item="orderStatus" open="(" separator="," close=")">
                #{criteria.orderStatus}
            </foreach>
        </if>

        <if test="criteria.workOrderType!=null">
            AND t1.work_order_type = #{criteria.workOrderType}
        </if>

        <if test="criteria.startTime != null ">
            AND t1.created_at &gt;= #{criteria.startTime}
        </if>

        <if test="criteria.endTime != null  ">
            AND t1.created_at &lt;= #{criteria.endTime}
        </if>
    </select>
    <!--根据主表id抄送-->
    <select id="findCcByTransIdFromSubOrder" resultType="me.zhengjie.modules.opl.service.dto.OrderApplyCcDto">
        SELECT t1.*,t2.FHumanName as humanName,t2.FUserName as userName,t2.FEmail as email FROM orderApplyCc t1
         LEFT JOIN tsysuser t2 ON t1.empId = t2.user_id
         LEFT JOIN subOrder t3 ON t1.transId = t3.id
        WHERE t1.transId = #{transId} and t1.originalType = 1
    </select>


</mapper>
