<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.PublicMapper">

    <resultMap id="projects" type="me.zhengjie.modules.opl.domain.Project">
        <id column="id" property="id"></id>
        <result column="pro_name" property="proName"></result>
        <result column="pro_person" property="proPerson"></result>
    </resultMap>

    <select id="findAllModel" resultType="me.zhengjie.modules.opl.domain.Model">
        select id,model
        from opl_model
    </select>

    <select id="findAllStatus" resultType="me.zhengjie.modules.opl.domain.Status">
        select id,status
        from opl_status
    </select>

    <select id="findAllProject" resultMap="projects">
        select id,pro_name,pro_person,dept_id
        from opl_project
    </select>

    <select id="findCountProblemToday" parameterType="String" resultType="Integer">
        select count(number) from opl_problem
        <where>
            number like '${string}%'
        </where>
    </select>

    <select id="findProPersonById" parameterType="Integer" resultType="Integer">
         select pro_person from opl_project
         <where>
             id=#{projectId}
         </where>
    </select>
</mapper>