<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.ServiceCatalogToCategoryMapper">


    <!--新增-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO serviceCatalogToCategory(catalogId,categoryId,createUserId,createDateTime,status)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{catalogId},#{categoryId},#{createUserId},#{createDateTime},#{status})
        </foreach>
    </insert>


    <insert id="insertCatalogToCategoryAssociation" parameterType="me.zhengjie.modules.opl.domain.ServiceCatalogToCategory">
        INSERT INTO serviceCatalogToCategory(catalogId,categoryId,createUserId,createDateTime,status)
        VALUES(#{catalogId},#{categoryId},#{createUserId},#{createDateTime},#{status})
    </insert>

    <select id="findAssociationById" parameterType="Integer" resultType="me.zhengjie.modules.opl.service.dto.TrequestCategoryDto">
        SELECT A.categoryId as id ,B.name
        FROM serviceCatalogToCategory A
        LEFT JOIN trequestCategory B ON A.categoryId=B.id
        WHERE A.catalogId= #{catalogId} AND A.status=1

        ORDER BY B.id ASC

    </select>

    <select id="findSubAssociationById" parameterType="Integer" resultType="me.zhengjie.modules.opl.service.dto.TrequestCategoryDto">
        SELECT A.id ,A.name
        FROM trequestCategory A
        WHERE A.parentId= #{categoryId} AND A.status=1

        ORDER BY A.name ASC

    </select>
</mapper>
