<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.ServiceCatalogToCategoryMapper">


    <!--新增-->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO serviceCatalogToCategory(catalogId,categoryId,createUserId,createDateTime,status)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.catalogId},#{item.categoryId},#{item.createUserId},#{item.createDateTime},#{item.status})
        </foreach>
    </insert>

    <!--新增-->
    <insert id="insertCategory" parameterType="me.zhengjie.modules.opl.domain.TrequestCategory" useGeneratedKeys="true">
        INSERT INTO trequestCategory(name,parentId,createUserId,createDateTime,status,rootId)
        VALUES     (#{name},#{parentId},#{createUserId},#{createDateTime},#{status},#{rootId})
    </insert>


    <insert id="insertCatalogToCategoryAssociation" parameterType="me.zhengjie.modules.opl.domain.ServiceCatalogToCategory">
        INSERT INTO serviceCatalogToCategory(catalogId,categoryId,createUserId,createDateTime,status)
        VALUES(#{catalogId},#{categoryId},#{createUserId},#{createDateTime},#{status})
    </insert>

    <!-- 批量删除 -->
    <delete id="deleteByCatalogId" parameterType="java.lang.Integer">
        DELETE FROM serviceCatalogToCategory WHERE catalogId = #{catalogId}
    </delete>


    <select id="findCategoryById" parameterType="Integer" resultType="me.zhengjie.modules.opl.domain.TrequestCategory">
         SELECT A.id ,A.name,A.status,A.parentId,A.rootId
        FROM trequestCategory A
        WHERE A.id= #{Id}

    </select>

    <select id="findAssociationById" parameterType="Integer" resultType="me.zhengjie.modules.opl.service.dto.TrequestCategoryDto">
        SELECT A.categoryId as id ,B.status,B.name,B.parentId,C.name as parentName,B.rootId,D.name as rootName
        FROM serviceCatalogToCategory A
        LEFT JOIN trequestCategory B ON A.categoryId=B.id
        LEFT JOIN trequestCategory C on B.parentId=C.id
        LEFT JOIN trequestCategory D on B.rootId=D.id
        WHERE A.catalogId= #{catalogId} AND A.status=1 AND B.status=1

        ORDER BY B.id ASC

    </select>


    <select id="findAssociation"  resultType="me.zhengjie.modules.opl.service.dto.TrequestCategoryDto">
        SELECT A.id ,A.name,A.status,A.parentId,B.name as parentName,A.rootId,C.name as rootName
        FROM trequestCategory A
        LEFT JOIN trequestCategory B on A.parentId=B.id
        LEFT JOIN trequestCategory C on A.rootId=C.id
        WHERE A.parentId= 0

        ORDER BY A.id ASC

    </select>

    <select id="findUsedAssociation"  resultType="me.zhengjie.modules.opl.service.dto.TrequestCategoryDto">
        SELECT A.id ,A.name,A.status,A.parentId,B.name as parentName,A.rootId,C.name as rootName
        FROM trequestCategory A
        LEFT JOIN trequestCategory B on A.parentId=B.id
        LEFT JOIN trequestCategory C on A.rootId=C.id
        WHERE A.parentId= 0 AND A.status=1

        ORDER BY A.id ASC

    </select>

    <select id="findSubAssociationById" parameterType="Integer" resultType="me.zhengjie.modules.opl.service.dto.TrequestCategoryDto">
        SELECT A.id ,A.name,A.parentId,A.status,B.name as parentName,A.rootId,C.name as rootName
        FROM trequestCategory A
        LEFT JOIN trequestCategory B on A.parentId=B.id
        LEFT JOIN trequestCategory C on A.rootId=C.id

        WHERE A.parentId= #{categoryId}

        ORDER BY A.id ASC

    </select>

    <select id="findUsedSubAssociationById" parameterType="Integer" resultType="me.zhengjie.modules.opl.service.dto.TrequestCategoryDto">
        SELECT A.id ,A.name,A.parentId,A.status,B.name as parentName,A.rootId,C.name as rootName
        FROM trequestCategory A
        LEFT JOIN trequestCategory B on A.parentId=B.id
        LEFT JOIN trequestCategory C on A.rootId=C.id

        WHERE A.parentId= #{categoryId}  AND A.status=1

        ORDER BY A.id ASC

    </select>

    <!-- 根据子条目获取他的已选择的工单分类 -->
    <select id="findCategoryByCatalogId" resultType="me.zhengjie.modules.opl.domain.TrequestCategory">
        SELECT a.categoryId as id ,b.name  FROM serviceCatalogToCategory a LEFT JOIN
        trequestCategory b
        ON a.categoryId = b.id
        WHERE catalogId = #{catalogId} and a.status =1
    </select>

    <!-- 未做选择的服务分类条目id中的工单分类 -->
    <select id="findCategoryByCatalogIdNotSelect" resultType="me.zhengjie.modules.opl.domain.TrequestCategory">
        SELECT c.* FROM trequestCategory c WHERE c.id not in (SELECT a.categoryId as id FROM serviceCatalogToCategory a LEFT JOIN
        trequestCategory b
        ON a.categoryId = b.id
        WHERE catalogId = #{catalogId} and a.status =1) and c.status = 1 and c.parentId =0
    </select>
</mapper>
