<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.ServiceCatalogToQueuesMapper">

    <select id="findByQueuesId" resultType="me.zhengjie.modules.opl.service.dto.RequestQueuesDetlDto">
        SELECT t3.FUserId as userId,t3.FUserName as userName,t3.FHumanName as humanName,t4.FDeptName as deptName,t1.code,t1.name,t1.id
        FROM trequestqueues t1 LEFT JOIN
        trequestqueuesdetl t2 ON t1.id =t2.queuesId
        LEFT JOIN tsysuser t3 ON t2.memberId = t3.FUserId
        LEFT JOIN tsysdept t4 ON t2.deptId = t4.FDeptId
        WHERE t1.id = #{id}
    </select>

    <select id="countMemberInQueue" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM trequestqueuesdetl
         WHERE queuesId=#{queuesId} and memberId=#{memberId}
    </select>

    <select id="findUserForShow" resultType="me.zhengjie.modules.opl.service.dto.UserForShow">
        SELECT t2.memberId as userId ,t3.FUserName as userName ,
        t3.FHumanName as humanName,t4.FDeptName as deptName ,t4.FDeptId as deptId
         FROM trequestqueues t1
        LEFT JOIN trequestqueuesdetl t2 on t1.id = t2.queuesId
        LEFT JOIN tsysuser t3 on t2.memberId = t3.FUserId
        LEFT JOIN tsysdept t4 on t2.deptId = t4.FDeptId
        WHERE t1.id = #{queuesId}
    </select>
    <select id="findUserByDept" resultType="me.zhengjie.modules.opl.service.dto.UserForShow">
        SELECT FROM tsysuser WHERE
    </select>

    <insert id="insert" parameterType="me.zhengjie.modules.opl.domain.RequestQueuesDetl">
        INSERT INTO trequestqueuesdetl(
        queuesId,memberId,status,memo,deptId,
        createUserId,createDateTime,index
        ) VALUES (
        #{queuesId},#{memberId},#{status},#{memo},#{deptId},
        #{createUserId},#{createDateTime},#{index}
        )
    </insert>

    <update id="update" parameterType="me.zhengjie.modules.opl.domain.RequestQueuesDetl">
        UPDATE trequestqueuesdetl SET
         queuesId = #{queuesId},memberId = #{memberId},status = #{status},
         memo = #{memo},deptId = #{deptId},modifyUserId=#{modifyUserId},
         modifyDateTime=#{modifyDateTime},index = #{index}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM trequestqueuesdetl WHERE id = #{id}
    </delete>



</mapper>