<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.ServiceCatalogToDeptMapper">

    <insert id="insertCatalogToDeptAssociation" parameterType="me.zhengjie.modules.opl.domain.ServiceCatalogToDept">
        INSERT INTO serviceCatalogToDept(sourceId,catalogId,type,status,createDateTime,createUserId)
        VALUES(#{sourceId},#{catalogId},#{type},#{status},#{createDateTime},#{createUserId})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
          INSERT INTO serviceCatalogToDept(sourceId,catalogId,type,status,createDateTime,createUserId)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.sourceId},#{item.catalogId},#{item.type},#{item.status},
            #{item.createDateTime,jdbcType=TIMESTAMP},#{item.createUserId})
        </foreach>
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM serviceCatalogToDept WHERE id = #{id}
    </delete>

    <!-- 根据组id和人员id删除 -->
    <delete id="deleteByCatalogIdAndSourceId" parameterType="java.lang.Integer">
         DELETE FROM serviceCatalogToDept WHERE catalogId = #{catalogId} AND sourceId = #{sourceId}
    </delete>

    <select id="findAssociationById"  resultType="me.zhengjie.modules.opl.service.dto.SubServiceCatalogDto">
        SELECT C.catalogId,C.catalogName,C.description,C.parentId,C.status,C.defaultQueueId,B.FHumanName as humanName,C.icon
        FROM serviceCatalogToDept A
        LEFT JOIN tsysuser B ON A.sourceId=B.FUserId
        LEFT JOIN subServiceCatalog C ON A.catalogId=C.catalogId
        WHERE A.type=1 and B.FUserName= #{userId}
        UNION
        SELECT D.catalogId,D.catalogName,D.description,D.parentId,D.status,D.defaultQueueId,C.FHumanName as humanName,D.icon
        FROM serviceCatalogToDept A
        LEFT JOIN tsysdept B ON A.sourceId=B.FDeptId
        LEFT JOIN tsysuser C ON B.FSourceCode=C.FDeptId
        LEFT JOIN subServiceCatalog D ON A.catalogId=D.catalogId
        WHERE A.type=0 and C.FUserName= #{userId}
    </select>
    <select id="findParentAssociationById"  resultType="me.zhengjie.modules.opl.service.dto.ServiceCatalogDto">
        SELECT D.catalogId,D.catalogName,D.shortName,D.icon,D.status
        FROM serviceCatalogToDept A
        LEFT JOIN tsysuser B ON A.sourceId=B.FUserId
        LEFT JOIN subServiceCatalog C ON A.catalogId=C.catalogId
        LEFT JOIN serviceCatalog D ON D.catalogId=C.parentId
        WHERE A.type=1 and B.FUserName= #{userId}
        UNION
       SELECT E.catalogId,E.catalogName,E.shortName,E.icon,E.status
        FROM serviceCatalogToDept A
        LEFT JOIN tsysdept B ON A.sourceId=B.FDeptId
        LEFT JOIN tsysuser C ON B.FSourceCode=C.FDeptId
        LEFT JOIN subServiceCatalog D ON A.catalogId=D.catalogId
        LEFT JOIN serviceCatalog E ON E.catalogId=D.parentId
        WHERE A.type=0 and C.FUserName= #{userId}
    </select>

    <!-- 如果是最上层公司，那么就展示已勾选的 -->
    <select id="findAllUserInUse" resultType="me.zhengjie.modules.opl.service.dto.UserForShow">
        SELECT t1.FUserId as userId,t1.FUserName as userName,t1.FHumanName as humanName,
        t2.FDeptId as deptId,t2.FDeptName as deptName ,
	   1 as flag FROM tsysuser t1
         LEFT JOIN tsysdept t2 ON t1.FDeptId = t2.FSourceCode
        WHERE ( CASE  WHEN EXISTS ( SELECT * FROM serviceCatalogToDept t3
        WHERE t3.type=1 AND t3.sourceId=t1.FUserId AND t3.catalogId =#{catalogId} ) THEN 1
	    ELSE 0 END ) = 1
	    <if test="name!=null and name!=''">
           AND ( t1.FHumanName like concat('%',#{name},'%') OR t1.FUserName like concat('%',#{name},'%') )
        </if>

    </select>

    <!-- 根据父类id获取总数（判断此部门是不是最底层部门） -->
    <select id="getCountByOrgId" resultType="java.lang.Integer">
        SELECT count(0) as a FROM tsysdept t2 WHERE t2.FParentId in
        (SELECT t1.FOrgSourceId FROM tsysorgas t1 WHERE t1.FOrgId = #{orgId} ) AND t2.FFlag = 0
    </select>

    <!--根据父类id获取list（查出部门下面的部门id）-->
    <select id="getListByOrgId" resultType="java.lang.Integer">
        SELECT t2.FDeptId FROM tsysdept t2 WHERE t2.FParentId in
        (SELECT t1.FOrgSourceId FROM tsysorgas t1 WHERE t1.FOrgId = #{orgId} ) AND t2.FFlag = 0
    </select>

    <!-- 根据父类id获取总数（判断此部门是不是最底层部门） -->
    <select id="getCountByParentId" resultType="java.lang.Integer">
          SELECT count(0) as a FROM tsysdept t2 WHERE t2.FParentId in
        (SELECT t1.FSourceCode FROM tsysdept t1 WHERE t1.FDeptId = #{deptId} ) AND t2.FFlag = 0
    </select>

    <!-- 根据父类id获取list（查出部门下面的部门id） -->
    <select id="getListByParentId" resultType="java.lang.Integer">
         SELECT t2.FDeptId FROM tsysdept t2 WHERE t2.FParentId in
        (SELECT t1.FSourceCode FROM tsysdept t1 WHERE t1.FDeptId = #{deptId} ) AND t2.FFlag = 0
    </select>

    <!-- 根据部门id的list和服务分类id获取所有的人员 -->
    <select id="findAllUserByDeptIdListAndCatalogId" resultType="me.zhengjie.modules.opl.service.dto.UserForShow">
        SELECT t1.FUserId as userId,t1.FUserName as userName,t1.FHumanName as humanName,
        t2.FDeptId as deptId,t2.FDeptName as deptName ,
	    ( CASE  WHEN EXISTS ( SELECT * FROM serviceCatalogToDept t3 WHERE t3.type=1 AND
	     t3.sourceId=t1.FUserId AND t3.catalogId = #{catalogId} )
			THEN 1
	    ELSE 0 END ) as flag FROM tsysuser t1
         LEFT JOIN tsysdept t2 ON t1.FDeptId = t2.FSourceCode
        WHERE t2.FDeptId in
        <foreach  collection="deptList" item="item" index="index" separator="," open="(" close=")" >
            #{item}
        </foreach>
        <if test="name!=null and name!=''">
          AND  ( t1.FHumanName like concat('%',#{name},'%') OR t1.FUserName like concat('%',#{name},'%') )
        </if>
    </select>

    <!-- 根据部门id和服务分类id获取所有的人员 -->
    <select id="findAllUserByDeptIdAndCatalogId" resultType="me.zhengjie.modules.opl.service.dto.UserForShow">
        SELECT t1.FUserId as userId,t1.FUserName as userName,t1.FHumanName as humanName,
        t2.FDeptId as deptId,t2.FDeptName as deptName ,
	    ( CASE  WHEN EXISTS ( SELECT * FROM serviceCatalogToDept t3 WHERE t3.type=1 AND
	     t3.sourceId=t1.FUserId AND t3.catalogId = #{catalogId} )
			THEN 1
	    ELSE 0 END ) as flag FROM tsysuser t1
         LEFT JOIN tsysdept t2 ON t1.FDeptId = t2.FSourceCode
        WHERE t2.FDeptId =#{deptId}
        <if test="name!=null and name!=''">
          AND  ( t1.FHumanName like concat('%',#{name},'%') OR t1.FUserName like concat('%',#{name},'%') )
        </if>
    </select>

    <!-- 获取明细下关联数据 -->
    <select id="findServiceCatalogToDeptByCatalogId"
            resultType="me.zhengjie.modules.opl.domain.ServiceCatalogToDept">
          SELECT * FROM serviceCatalogToDept WHERE catalogId = #{catalogId} and type = 1
    </select>

    <!-- 查是否存在此组id和人id的数据-->
    <select id="findByCatalogIdAndSourceId" resultType="java.lang.Integer">
        SELECT count(*) as a FROM serviceCatalogToDept WHERE catalogId = #{catalogId}
        and sourceId = #{sourceId} and type = 1
    </select>


</mapper>
