<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.ServiceCatalogMapper">

    <insert id="insertCatalog" parameterType="me.zhengjie.modules.opl.domain.ServiceCatalog">
        INSERT INTO serviceCatalog(catalogName,shortName,icon,status,createDateTime,createUserId)
        VALUES(#{catalogName},#{shortName},#{icon},#{status},#{createDateTime},#{createUserId})
    </insert>

    <select id="findAllCatalog"  resultType="me.zhengjie.modules.opl.service.dto.ServiceCatalogDto">
        SELECT A.catalogId,A.catalogName,A.shortName,A.icon,A.status,A.createUserId,A.createDateTime,B.FHumanName as createPerson ,A.modifyDateTime,A.modifyUserId,C.FHumanName as modifyPerson
        FROM serviceCatalog A
        LEFT JOIN tsysuser B ON A.createUserId=B.FUserName
        LEFT JOIN tsysuser C ON A.modifyUserId=C.FUserName
        where A.status=1


        ORDER BY A.createDateTime DESC

    </select>

    <update id="updateCatalog" parameterType="me.zhengjie.modules.opl.domain.ServiceCatalog">
        UPDATE serviceCatalog
        <set>

            catalogName = #{catalogName},
            shortName = #{shortName},
            icon = #{icon},
            status = #{status},
            modifyDateTime = #{modifyDateTime},
            modifyUserId = #{modifyUserId}

        </set>
        WHERE catalogId = #{catalogId}
    </update>

    <select id="findAllCatalog"  resultType="me.zhengjie.modules.opl.service.dto.ServiceCatalogDto">
        SELECT count(*)
        FROM subServiceCatalog A
        where A.status=1 AND A.parentId = #{catalogId}

    </select>

</mapper>
