<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.SubOrderMapper">


    <insert id="insertSubOrder" parameterType="me.zhengjie.modules.opl.domain.SubOrder">
        INSERT INTO subOrder(parentNo,topic,serialNo,planCompTime,jobNumber
        ,createdTime,deptId,projectName,model,matterDate,snNo,ultimateCustomer,problemType,problemAttach
        ,problemDesc,problemPath,siteCondition,rescueAction,faeHeader,workOrderType,orderStatus,isTransfer,description)
        VALUES(#{parentNo},#{topic},#{serialNo},#{planCompTime},#{jobNumber},#{createAt},#{deptId},
        #{projectName},#{model},#{matterDate},#{snNo},#{ultimateCustomer}
        ,#{problemType},#{problemAttach},#{problemDesc},#{problemPath},#{siteCondition},#{rescueAction}
        ,#{faeHeader},#{workOrderType},#{orderStatus},#{isTransfer},#{orderDesc})
    </insert>

    <update id="updateSubOrder" parameterType="me.zhengjie.modules.opl.domain.CrmWorkOrder">
        UPDATE crm_work_order set name=#{name},entity_type=#{entityType},owner_id=#{ownerId},dim_depart=#{dimDepart},
        workflow_stage_name=#{workflowStageName},applicant_id=#{applicantId},created_by=#{createdBy},
        created_at=#{createdAt},updated_by=#{updatedBy},updated_at=#{updatedAt},lock_status=#{lockStatus},
        approval_status=#{approvalStatus},topic=#{topic},serial_no=#{serialNo},plan_comp_time=#{planCompTime},
        created_person=#{createdPerson},job_number=#{jobNumber},project_name=#{projectName},model=#{model},
        matter_date=#{matterDate},sn_no=#{snNo},ultimate_customer=#{ultimateCustomer},problem_type=#{problemType},
        problem_attach=#{problemAttach},problem_desc=#{problemDesc},problem_path=#{problemPath},
        site_condition=#{siteCondition},rescue_action=#{rescueAction},fae_header=#{faeHeader},work_order_type=#{workOrderType}
        WHERE crm_id = #{crmId}
    </update>

    <select id="findSubOrderByParentId" parameterType="Integer" resultType="me.zhengjie.modules.opl.service.dto.SubOrderDto">
        SELECT A.id,A.parentNo,A.topic,A.serialNo,A.planCompTime,A.jobNumber,B.FHumanName as createdPerson ,A.createdTime,C.FDeptFullName AS deptName,A.deptId,A.projectName,D.product_name AS model,A.matterDate,A.snNo,
        A.ultimateCustomer,A.problemType,A.problemAttach,A.problemDesc,A.problemPath,A.siteCondition,A.rescueAction,A.faeHeader,A.workOrderType,E.name as typeDesc,A.orderStatus,F.name as orderDesc,A.isTransfer,A.description,A.receiver
        FROM subOrder A
        LEFT JOIN tsysuser B ON A.jobNumber=B.FUserName
        LEFT JOIN tsysdept C ON A.deptId=C.FDeptId
        LEFT JOIN crm_product D ON A.model=D.crm_id
        LEFT JOIN trequestCategory E ON E.text=A.workOrderType
        LEFT JOIN orderStatus F ON F.id=A.orderStatus
        WHERE A.parentNo =#{parentNo}

        ORDER BY A.serialNo asc

    </select>


    <select id="findSubOrderBySerialNo" parameterType="String" resultType="me.zhengjie.modules.opl.service.dto.SubOrderDto">
       SELECT A.id,A.parentNo,A.topic,A.serialNo,A.planCompTime,A.jobNumber,B.FHumanName as createdPerson ,A.createdTime,C.FDeptFullName AS deptName,A.deptId,A.projectName,D.product_name AS model,A.matterDate,A.snNo,
        A.ultimateCustomer,A.problemType,A.problemAttach,A.problemDesc,A.problemPath,A.siteCondition,A.rescueAction,A.faeHeader,A.workOrderType,E.name as typeDesc,A.orderStatus,F.name as orderDesc,A.isTransfer,A.description,A.receiver
        FROM subOrder A
        LEFT JOIN tsysuser B ON A.jobNumber=B.FUserName
        LEFT JOIN tsysdept C ON A.deptId=C.FDeptId
        LEFT JOIN crm_product D ON A.model=D.crm_id
        LEFT JOIN trequestCategory E ON E.text=A.workOrderType
        LEFT JOIN orderStatus F ON F.id=A.orderStatus
        WHERE A.serialNo =#{serialNo}
    </select>


    <select id="findParentWorkOrderDtoById" resultType="me.zhengjie.modules.opl.service.dto.CrmWorkOrderDto">
        SELECT t1.* FROM crm_work_order t1 WHERE exists (
            SELECT t2.parentNo FROM subOrder t2 WHERE t2.id = #{id}
            and t2.parentNo=t1.id
        )

        <if test="criteria.topic!=null and criteria.topic !=''">
            AND t1.topic LIKE concat('%',#{criteria.topic},'%')
        </if>

        <if test="criteria.serialNo!=null and criteria.serialNo!=''">
            AND t1.serial_no LIKE concat('%',#{criteria.serialNo},'%')
        </if>

        <if test="criteria.orderStatusList!=null and criteria.orderStatusList.size &gt; 0">
            AND t1.order_status in
            <foreach collection="criteria.orderStatusList" item="orderStatus" open="(" separator="," close=")">
                #{criteria.orderStatus}
            </foreach>
        </if>

        <if test="criteria.workOrderType!=null">
            AND t1.work_order_type = #{criteria.workOrderType}
        </if>

        <if test="criteria.startTime != null ">
            AND t1.created_at &gt;= #{criteria.startTime}
        </if>

        <if test="criteria.endTime != null  ">
            AND t1.created_at &lt;= #{criteria.endTime}
        </if>
    </select>
</mapper>
