<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.SubServiceCatalogMapper">

    <insert id="insertSubCatalog" useGeneratedKeys="true" keyProperty="catalogId"  parameterType="me.zhengjie.modules.opl.domain.SubServiceCatalog">
        INSERT INTO subServiceCatalog(catalogName,description,parentId,status,defaultQueueId,createDateTime,createUserId)
        VALUES(#{catalogName},#{description},#{parentId},#{status},#{defaultQueueId},#{createDateTime},#{createUserId})

    </insert>

    <select id="findSubCatalogByParentId"  resultType="me.zhengjie.modules.opl.service.dto.SubServiceCatalogDto">
        SELECT A.catalogId,A.catalogName,A.description,A.parentId,A.status,A.defaultQueueId,D.name as defaultQueue ,A.createUserId,A.createDateTime,B.FHumanName as createPerson ,A.modifyDateTime,A.modifyUserId,C.FHumanName as modifyPerson
        FROM subServiceCatalog A
        LEFT JOIN tsysuser B ON A.createUserId=B.FUserName
        LEFT JOIN tsysuser C ON A.modifyUserId=C.FUserName
        LEFT JOIN trequestqueues D ON A.defaultQueueId=D.id

        Where A.parentId= #{ParentId}


        ORDER BY A.createDateTime DESC

    </select>


    <update id="updateSubCatalog" parameterType="me.zhengjie.modules.opl.domain.SubServiceCatalog">
        UPDATE subServiceCatalog
        <set>

            catalogName = #{catalogName},
            description = #{description},
            status = #{status},
            defaultQueueId = #{defaultQueueId},
            modifyDateTime = #{modifyDateTime},
            modifyUserId = #{modifyUserId}

        </set>
        WHERE catalogId = #{catalogId}
    </update>

    <!-- 删除子条目 -->
    <delete id="deleteSubCatalogById" parameterType="java.lang.Integer">
        DELETE FROM subServiceCatalog WHERE catalogId = #{subCatalogId}
    </delete>

    <select id="findOnUsedOrder"  resultType="Integer">
        SELECT count(*)
        FROM crm_work_order A
        where A.order_status not in(5,7) AND A.service_catalog_id = #{catalogId}

    </select>

    <!-- 查询子分类条目 -->
    <select id="findSubCatalogById" resultType="me.zhengjie.modules.opl.domain.SubServiceCatalog">
        SELECT * FROM subServiceCatalog WHERE catalogId = #{catalogId}
    </select>

</mapper>
