<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.UserMapper">

    <resultMap id="userMap" type="me.zhengjie.modules.opl.domain.User">
        <id property="id" column="FUserId"></id>
        <result property="userName" column="FUserName"></result>
        <result property="name" column="FHumanName"></result>
    </resultMap>

    <select id="findIdByUsername"  resultType="java.lang.Long">
        select FUserId from tsysuser where FUserName=#{userName}
    </select>

    <select id="findUser" parameterType="me.zhengjie.modules.opl.domain.User" resultMap="userMap">
        select FUserId,FUserName,FHumanName from tsysuser
        <if test="userName!=null and userName!=''">
            and FUserName = #{userName}
        </if>
        <if test="name!=null and name!=''">
            and FHumanName = #{name}
        </if>
    </select>


</mapper>
