<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.opl.mapper.UserMapper">

    <resultMap id="userMap" type="me.zhengjie.modules.opl.domain.User">
        <id property="id" column="FUserId"></id>
        <result property="userName" column="FUserName"></result>
        <result property="name" column="FHumanName"></result>
        <result property="deptName" column="FDeptFullName"></result>
    </resultMap>

    <select id="findIdByUsername"  resultType="java.lang.Long">
        select FUserId from tsysuser where FUserName=#{userName}
    </select>

    <select id="findUser" parameterType="me.zhengjie.modules.opl.domain.User" resultMap="userMap">
        select A.FUserId,A.FUserName,A.FHumanName,B.FDeptFullName  from tsysuser A
        LEFT JOIN tsysdept B ON A.FDeptId=B.FSourceCode
        WHERE 1=1
        <if test="userName!=null and userName!=''">
            and A.FUserName LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="name!=null and name!=''">
            and A.FHumanName LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="findUserByEmpId" parameterType="String" resultMap="userMap">
        select FUserId,FUserName,FHumanName from tsysuser where FUserName in
        <foreach collection="list" item="empId" index="index" open="(" close=")" separator=",">
            #{empId}
        </foreach>
    </select>




</mapper>
